/**
 * @parent styleguide.objects 3
 * @stylesheet button.scss Button
 */


/**
 * @styles button Button
 *
 * Here is an example of using button
 *
 * ```html
 * <div class="l-wrap">
 *   <ul class="l-list">
 *     <li class="l-item l-item--inline l-item--object"><a class="o-btn o-btn--red">Anchor</a></li>
 *     <li class="l-item l-item--inline l-item--object"><a class="o-btn o-btn--blue">Anchor</a></li>
 *   </ul>
 * </div>
 * ```
 * @demo demos/objects/button/demo.html
 */
.o-btn {
  display: inline-block;
  padding: $o-padding;

  border: 1px solid map-get($c-colors, gray);
  border-radius: $o-border-radius;

  background: map-get($c-colors, gray);

  color: map-get($c-colors, white);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: $o-opacity;

	@include prefix(transition, opacity .5s ease);

  &:hover, &:focus {
    outline: 0;
    opacity: 1;
  }

  // .o-btn class with different colors
  @each $key, $value in $c-colors {
    &.o-btn--#{""+$key} {
      border: 1px solid $value;
      background: $value;

      &:hover {
        opacity: 1;
      }
    }
  }
}
