// Styles for o-btn class
.o-btn {
  display: inline-block;
  padding: $o-padding;

  border: 1px solid map-get($c-colors, gray);
  border-radius: $o-border-radius;

  background: map-get($c-colors, gray);

  color: map-get($c-colors, white);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

	@include prefix(transition, background .5s ease);

  &:hover, &:focus {
    outline: 0;
  }

  // .o-btn class with different colors
  @each $key, $value in $c-colors {
    &.o-btn--#{""+$key} {
      border: 1px solid $value;
      background: $value;

      &:hover {
        background: lighten($value, 5%);
      }
    }
  }
}
