/**
 * @parent styleguide.objects 2
 * @stylesheet category.scss Category
 */

/**
 * @styles category Category
 *
 * Here is an example of using category
 *
 * ```html
 * <div class="l-wrap">
 *   <ul class="l-list">
 *     <li class="l-item l-item--inline l-item--object">
 *       <a class="o-category" href="#">Tag<span class="o-category__detail">xxx</span></a>
 *     </li>
 *     <li class="l-item l-item--inline l-item--object">
 *       <a class="o-category o-category--red" href="#">Tag<span class="o-category__detail">xxx</span></a>
 *     </li>
 *     <li class="l-item l-item--inline l-item--object">
 *       <a class="o-category o-category--green" href="#">Tag<span class="o-category__detail">xxx</span></a>
 *     </li>
 *   </ul>
 * </div>
 * ```
 * @demo demos/objects/category/demo.html
 */
.o-category {
  display: inline-block;
  padding: $o-padding;

  border-radius: $o-border-radius;

  background: map-get($c-colors, orange);

  color: map-get($c-colors, white);
  font-weight: bold;
  text-align: center;

  opacity: 0.85;
  cursor: pointer;

  @include prefix(transition, all 0.5s ease);

  &:hover {
    opacity: 1;

    .o-category__detail {
      margin: 0 0 0 5px;
      padding: $o-padding;
      width: auto;
      opacity: 1;
    }
  }

  // The dot on the category
  .o-category__detail {
    display: inline-block;
    width: 0;

    border-radius: $o-border-radius;
    background: rgba(0, 0, 0, 0.1);

    font-size: map-get($t-type-scale-cls, s2);
    font-weight: bold;
    text-align: center;

    @include prefix(transition, all 0.2s ease);

    vertical-align: middle;
    line-height: 1;
    word-spacing: .1rem;
    overflow: hidden;
    white-space: nowrap;
  }

  @each $key, $value in $c-colors {
    &.o-category--#{""+$key} {
      background: $value;
    }
  }
}
