/**
 * @parent styleguide.objects 4
 * @stylesheet link.scss Link
 */


/**
 * @styles link Link
 *
 * Here is an example of using link
 *
 * ```html
 * <div class="l-wrap">
 *   <ul class="l-list">
 *     <li class="l-item l-item--inline l-item--object"><a class="o-link o-link--red" href="#">Tag</a></li>
 *     <li class="l-item l-item--inline l-item--object"><a class="o-link o-link--green" href="#">Tag</a></li>
 *     <li class="l-item l-item--inline l-item--object"><a class="o-link o-link--blue" href="#">Tag</a></li>
 *   </ul>
 * </div>
 * ```
 * @demo demos/objects/link/demo.html
 */
.o-link {
  position: relative;

  cursor: pointer;

  opacity: $o-opacity;
  @include prefix(transition, opacity .5s ease);
  @include prefix(backface-visibility, hidden);

  &:hover {
    opacity: 1;
  }

  // Bar beneath the link
  &::after {
    position: absolute;
    left: 50%;
    bottom: -0.1em;
    width:0;
    height: 0.1em;

    content: "";

    @include prefix(transition, all 0.5s ease);
    @include prefix(transform, translateX(-50%));

    @include prefix(backface-visibility, hidden);
  }

  // Style of the link of different colors
  @each $key, $value in $c-colors {

    &.o-link--#{""+$key} {
      color: $value;

      &::after {
        background: $value;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
