/**
 * @parent styleguide.components 2
 * @stylesheet footer.scss Footer
 */

// Footer Setting
$footer-height: 60px;

/**
 * @styles footer Footer
 *
 * Here is an example of using footer
 *
 * ```html
 * <style type="text/css" media="screen">
 *   html {
 *     height: 100%;
 *   }
 *   body {
 *     position: relative;
 *     padding: 60px 0 calc(60px + 1.75rem) 0;
 *     min-height: 100%;
 *   }
 * </style>
 *
 *  <!-- .... -->
 *
 * <footer class="c-footer c-footer--bottom">
 *   <ul class="c-footer__medias">
 *     <li class="c-footer__item">LINK</li>
 *     <li class="c-footer__item">LINK</li>
 *   </ul>
 * </footer>
 * ```
 * @demo demos/components/footer/demo.html
 */
.c-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: $footer-height;

  background: map-get($c-colors, black);

  font-size: map-get($t-type-scale-cls, s1);
  font-weight: bold;

  // <body> must be relative, min-height: 100%
  // padding-bottom: $footer-height + $t-vertical-rhythm
  &.c-footer--bottom {
    position: absolute;
    bottom: 0;
  }

  // Used with l-list together
  .c-footer__medias {
    display: flex;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    line-height: $footer-height;

    .c-footer__item {
      margin: 0 .5rem;
      list-style: none;
    }
  }
}

