/**
 * @parent styleguide.components 7
 * @stylesheet masthead.scss Masthead
 */


/**
 * @styles masthead Masthead
 *
 * Here is an example of using masthead
 *
 * ```html
 * <div class="c-masthead">
 *   <h2>Title</h2>
 *   <p>Description is asda asdasd</p>
 * </div>
 * ```
 * @demo demos/components/masthead/demo.html
 */
.c-masthead {
  display: flex;
  flex-direction: column;
  margin-top: $t-vertical-rhythm;
  padding: $t-vertical-rhythm $c-padding;
  width: 100%;

  border-radius: $c-border-radius;

  background: map-get($c-colors, black);

  text-align: center;

  box-shadow: 0 7px 11px -1px rgba(black, .5);

  & > * {
    margin-top: ($t-vertical-rhythm/2);
    &:first-child {
      margin: 0;
    }
  }
}

