/**
 * @parent styleguide.components 4
 * @stylesheet post.scss Post
 */

/**
 * @styles post Post
 *
 * Here is an example using Post
 *
 * ```html
 * <div class="c-post">
 *   <h2 class="c-post__title">Post Title</h2>

 *   <ul class="c-post__metas">
 *     <li class="c-post__category">General</li>
 *     <li class="c-post__date">2019-04-10</li>
 *     <li class="c-post__readtime">10</li>
 *     <li class="c-post__viewcount">100</li>
 *     <li class="c-post__commentcount">10</li>
 *   </ul>

 *   <div class="c-post__image">
 *     <img "u-img-responsive" src="https://johnnylord.com/media/blog/general/start-my-blogging-life/feature.jpg" alt="feature image of the post">
 *   </div>

 *   <div class="c-post__content">
 *     <p>
 *       Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 *       tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
 *       vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
 *       no sea takimata sanctus est Lorem ipsum dolor sit amet.
 *     </p>
 *   </div>
 * </div>
 *
 * ```
 * @demo demos/components/post/demo.html
 */
.c-post {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  margin-top: $t-vertical-rhythm;
  padding: $c-padding;

  border-radius: $c-border-radius;

  background: map-get($c-colors, black);

  box-shadow: 0 7px 11px -1px rgba(black, .5);

  .c-post__title {
    font-size: map-get($t-type-scale-tag, h1);
    text-align: center;
  }

  .c-post__metas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      margin: 0 1rem 0 0;
      padding: 0;
      list-style: none;

      &.c-post__category::before {
        font-family: $f-fa-font-family;
        font-weight: $f-fa-weight-solid;
        content: fa-content($fa-var-book);
        margin-right: 10px;
      }

      &.c-post__date::before {
        font-family: $f-fa-font-family;
        font-weight: $f-fa-weight-solid;
        content: fa-content($fa-var-calendar-alt);
        margin-right: 10px;
      }

      &.c-post__author::before {
        font-family: $f-fa-font-family;
        font-weight: $f-fa-weight-solid;
        content: fa-content($fa-var-user);
        margin-right: 10px;
      }

      &.c-post__readtime::before {
        font-family: $f-fa-font-family;
        font-weight: $f-fa-weight-solid;
        content: fa-content($fa-var-clock);
        margin-right: 10px;
      }

      &.c-post__viewcount::before {
        font-family: $f-fa-font-family;
        font-weight: $f-fa-weight-solid;
        content: fa-content($fa-var-eye);
        margin-right: 10px;
      }

      &.c-post__commentcount::before {
        font-family: $f-fa-font-family;
        font-weight: $f-fa-weight-solid;
        content: fa-content($fa-var-comment);
        margin-right: 10px;
      }
    }
  }

  .c-post__image, .c-post__content {
    margin: $t-vertical-rhythm 0 0 0;
    padding: 0;
  }

  .c-post__content > *:first-child {
    margin: 0;
  }
}

