/**
 * @parent styleguide.layouts 2
 * @stylesheet list.scss List Layout
 */

/**
 * @styles list List layout
 *
 * Here are examples to use list layout
 *
 * @demo demos/layouts/list/demo.html
 */
.l-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  list-style: none;

  &.l-list--embed {
    margin: 0;
  }

  // list item
  .l-item {
    width: 100%;
    list-style: none;

    &.l-item--inline {
      width: auto;
    }

    &.l-item--component {
      margin-top: $t-vertical-rhythm;

      // Reset the margin value of the target component
      >:first-child {
        margin: 0;
      }
    }

    &.l-item--object {
      margin: .25rem .5rem;
    }
  }
}

