// Use border-box for everything
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
}

hr {
  margin-top: $t-vertical-rhythm;
  border-color: map-get($c-colors, gray);
  background-color: map-get($c-colors, gray);
}

ul, ol {
  margin-top: $t-vertical-rhythm;
  padding-left: $t-padding-size;
}

li {
  list-style: circle inside;
}

table {
  margin-top: $t-vertical-rhythm;
}

embed, iframe, img, object, video {
  max-width: 100%;
}

// For codeblock in the post
pre {
  margin-top: $t-vertical-rhythm;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
}

pre code {
  overflow-x: auto;
}
