// Light font
@font-face {
  font-family: #{$f-default-font-family};
  src: font('DejaVuSans-ExtraLight.woff2') format('woff2'),
    font('DejaVuSans-ExtraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

// Normal font
@font-face {
  font-family: #{$f-default-font-family};
  src: font('DejaVuSans.woff2') format('woff2'),
    font('DejaVuSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Bold font
@font-face {
  font-family: #{$f-default-font-family};
  src: font('DejaVuSans-Bold.woff2') format('woff2'),
    font('DejaVuSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// Italic font
@font-face {
  font-family: #{$f-default-font-family};
  src: font('DejaVuSans-Oblique.woff2') format('woff2'),
    font('DejaVuSans-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

// Bold and Italic font
@font-face {
  font-family: #{$f-default-font-family};
  src: font('DejaVuSans-BoldOblique.woff2') format('woff2'),
    font('DejaVuSans-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

// Latex Font
@font-face {
  font-family: #{$f-latex-font-family};
  src: font('DejaVuMathTeXGyre-Regular.woff2') format('woff2'),
    font('DejaVuMathTeXGyre-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
