<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <link rel="stylesheet" href="/dist/css/blackhat.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css" media="screen">
      html {
        height: 100%;
      }
      body {
        position: relative;
        padding: 60px 0 calc(60px + 1.75rem) 0;
        min-height: 100%;
      }
    </style>
  </head>
  <body>
    <footer class="c-footer c-footer--bottom">
      <ul class="c-footer__medias">
        <li class="c-footer__item">LINK</li>
        <li class="c-footer__item">LINK</li>
      </ul>
    </footer>
  </body>
</html>
