// Color palette maps
$colors: (
  black:  #292e39,
  white:  #e1e6ee,
  gray:   #464c5b,
  red:    #b9555e,
  green:  #98b77f,
  yellow: #eac57c,
  blue:   #7596ba,
  purple: #ac82a5,
  navy:   #7bb8cb,
  orange: #ef9c37,
) !default;
