// breakpoints map
$l-breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

// Container's maximum width and minimum width
$l-wrap-max-width: 1200px !default;

// default padding size
$l-padding: 0 1rem;

